.level-label {
  font-family: $sans;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  @include transition(all 0.3s ease-in);

  $i: 4;
  @while $i > 0 {
    $color: getColor($i);
    $hover-color: darken($color, 15);

    &.level-#{$i} { 
      background-color: $color;

      .label-icon {
        .level-id {
          color: $color;
        }
      }

      &:hover {
        background-color: $hover-color;

        .label-icon .level-id {
          color: $hover-color;
        }
      }
    }
    $i: $i - 1;
  }

  &:hover {
    .label-icon {
      .fa {
        @include text-shadow(0 2px 3px rgba(0,0,0,0.2));
      }
    }
  }


  &.vertical-label {
    text-align: center;
    @include box-sizing('border-box');

    &.large {
      border-radius: 8px;
      width: 150px;
      height: 200px;      
      padding: 10px;
    }

    .label-icon {
      text-align: center;
      height: 140px;

      .fa {
        color: #fff;
        font-size: 130px;
      }

      .level-id {
        font-size: 50px;
        display: block;
        margin-top: -80px;
        @include extra-bold;
      }
    }

  }

  &.horiz-label {
    display: inline-block;
    margin-right: 6px;
    text-align: left;
    @include box-sizing('border-box');

    &.small {
      border-radius: 6px;
      width: 180px;
      padding: 2px 6px;
    }

    .label-icon {
      text-align: left;
      height: 30px;

      .fa {
        color: #fff;
        font-size: 30px;
        line-height: 32px;
        vertical-align: middle;
      }

      .level-id {
        font-size: 16px;
        display: block;
        @include extra-bold;
        margin-top: -30px;
        margin-left: 10px;
      }
    }

    .label-name, .label-icon {
      display: inline-block;
    }


  }

  .label-name {
    color: #fff;
    text-transform: uppercase; 
  }

}