body#homepage {
  background: $main-bg $noise-bg;
}

#main {
  background: none;
  background-color: transparent;
}


.homepage {

  header {
    color: $header-bg;
    font-family: $sans;

    h1 {
      font-family: $sans;
      display: inline-block;
      width: 50%;

      span {
        display: block;
      }
    }

    .smaller {
      @include light;
      text-transform: uppercase;
      font-size: 80%;
    }

    .larger {
      @include extra-bold;
      font-size: 175%;
      line-height: 50%;
    }

    .sub-head {
      display: inline-block;
      width: 40%;
      @include light;
      font-size: 150%;
    }
  }

  .levels-list {
    margin: auto;
    text-align: center;

    .lesson-label {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }

  }
}