#main {
  background: none;
  background-color: transparent;
}


.homepage {

  .levels-list {
    margin: auto;
    text-align: center;

    .lesson-label {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }

  }
}