// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "modules/**/*";
@import "pages/**/*";

body {
  font-family: $sans;
}

body>nav, body>footer, html  {
  background-color: transparent;
  background: $main-bg $noise-bg;
  border: none;
}

#main {
  border: none;
  padding: 20px;
}

body > header {
  padding: 15px 55px;
}

.main-header, .homepage > header {
  font-family: $sans;

  h1 {
    font-family: $sans;
    display: inline-block;
    width: 50%;

    span {
    display: block;
    }
  }

  .smaller {
    @include light;
    text-transform: uppercase;
    font-size: 80%;
  }

  .larger {
    @include extra-bold;
    font-size: 175%;
    line-height: 50%;
  }

  .sub-head {
    display: inline-block;
    width: 40%;
    @include light;
    font-size: 150%;
  }
}

.homepage > header {
  padding: 1.5em 55px;
}

.main-header {
  .sub-head {
    font-size: 110%;
  }
}

#content > div, #content > article {
  padding-top: 8px;
}

.contribute-link {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

